spring:
  application:
    name: plant-tracker
  datasource:
    url: jdbc:postgresql://localhost:5432/plant_tracker
    username:
    password:
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

